{% extends "layout.html" %}
{% block content %}
<div class="bienvenida">
    <h1 class="title-bienvenida">Hello, world!</h1>
    <p class="simple-detail">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="divisor">
    <p class="resume-final">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <button class="learn" onclick="showInfo()">Learn more</button>
</div>
<div id="more-info">
  <h1 class="title-bienvenida">My first web page with Python!</h1>
  <p class="simple-detail">This is awesome project!</p>
  <hr class="divisor">
  <p class="resume-final">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda ipsam qui deserunt error reiciendis eius dicta laboriosam repellendus vel. A quasi tenetur rem inventore aspernatur porro quaerat veniam harum.</p>
</div>
{% endblock %}