<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/main.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <!--CSS Personalizado-->
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet"/>
    <title>Inicio - Website Python</title>
</head>
<body>
  <div class="container">
    <nav>
      <input type="checkbox" id="check">
      <label for="check">
        <box-icon name='menu' id="icon-logo"></box-icon>
      </label>
      <label class="logo"><a href="/">Python WebApp</a></label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <div class="contenedor">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>