<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/main.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <!--CSS Personalizado-->
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet"/>
    <title>Inicio - Website Python</title>
</head>
<body>
  <ul class="menu-bar">
    <li class="home"><a href="/">Python WebApp</a></li>
    <button class="menu-icon">
      <box-icon name='menu'></box-icon>
    </button>
    <li><a href="/about">About</a></li>
    <li><a href="/">Home</a></li>
  </ul>
    <div class="contenedor">
      {% block content %}
      {% endblock %}
    </div>
</body>
</html>